html, body {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #25408f;
}
div#icones {
  float:right;
  margin-top:2%;
  margin-right:2%;
}
#icones img{
  margin:2%;
  width: 15%;
}
#cuc-button{
	max-height:100%
}
#logo{
	/* Keeps image from going outside the screen */
    max-height: 100%;
    max-width: 100%;
    /* Keeps image from beeing distorted */
    height: auto;
    width: auto;
    /* centering horizontally AND vertically */
    /* 50% of container */
    position: relative;
    top: 50%;
    left: 50%;
    /* 50% of image */
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 809px) {
	div#icones{
		float: none;
		margin: auto;
	}
}
@media screen and (max-width: 1242px) {
	#logo{
	top: 41%;
	}
}
.scratchpad {
  position:fixed;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}
