{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-small is-danger is-bold">
    <div class="container hero-body">
        <h1 class="title">Candidature <span class="fas fa-heart"></span></h1>
    </div>
</section>
<section class="hero is-bold is-large">
    <div class="container hero-body" style="color: white;">
        <h1 class="title" style="color: white;">Candidature validée</h1>
        <p>Vous pouvez en refaire autant que vous voulez. L'adresse c'est ici : <b><a href="/candidature" style="color: white">fanfare-cuc.fr/candidature</a></b></p>
    </div>
</section>
{% endblock content %}
