<!DOCTYPE html>{% load static %}
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="language" content="fr-FR" />
    <meta name="author" content="Adrien Brunet" />
    <meta name="description" content="Le CUC, a.k.a. La fanfare de Paris. Retrouvez nos prochaines dates à venir et surtout contactez-nous pour votre prochaine soirée !">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="Revisit-After" content="1 days">

    <meta property="og:site_name" content="Fanfare CUC · Chaos par UpperCuite · Fanfare Paris" />
    <meta property="og:image" content="{{ request.build_absolute_uri }}{% static 'images/logo.png' %}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="Le CUC, a.k.a. La fanfare de Paris. Retrouvez nos prochaines dates à venir et surtout contactez-nous pour votre prochaine soirée !" />
    {% block og_tags %}
      <meta property="og:title" content="Fanfare CUC · Chaos par UpperCuite · Fanfare Paris" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://fanfare-cuc.fr" />
    {% endblock og_tags %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-0.7.1/css/bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
    {% block extra_css %}
    {% endblock extra_css %}
    <title>Fanfare CUC · Chaos par UpperCuite · Fanfare Paris </title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42192634-3', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="site has-navbar-fixed-top">
    {% include 'layout/navbar.html' %}

    <div class="site-content">
      {% block content %}{% endblock content %}
    </div>
    {% include 'layout/footer.html' %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>