{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="hero is-medium is-danger is-bold">
  <div class="container hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          <span class="intro">
            Fanfare CUC - Chaos par UpperCuite
          </span>
        </h1>
        <h2 class="subtitle">
          Recrutez nous le coeur en fanfare !
        </h2>

        <h3>
          Animations extérieures, événements sportifs, soirées bars, ouvertures magasins...
        </h3>
        <br>
        <a href="mailto:fanfare.cuc@gmail.com" class="button is-light is-outlined"><i class="fas fa-envelope"></i>&nbsp;<span class="is-hidden-mobile">Contact · </span>fanfare.cuc@gmail.com</a>
      </div>
      <div class="column is-hidden-mobile"></div>
      <div class="is-hidden-tablet"><br><br></div>
      <div class="column has-text-centered">
        <a href="https://fr-fr.facebook.com/fanfare.CUC" title="Facebook">
          <img class="logo-hero" id="logo_img" style="width: 100%" src="{% static 'images/logo.png' %}">
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section hero is-small is-bold is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title"><i class="fas fa-calendar"></i>&nbsp;Les prochaines dates</h1>
          <h2 class="subtitle">
            Dans l'attente de <a href="{% url 'events' %}">nos concerts</a>, jouez au jeu du CUC !
          </h2>
          {% include "partial_event_list.html" with events=events %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-white">Le jeu du CUC</h1>
        <h2 class="subtitle has-text-white">
          Dans l'attente de <a class="has-text-white" href="{% url 'events' %}">nos concerts</a>, jouez au jeu du CUC !
        </h2>
      </div>
      <div class="column">
      </div>
      <div class="column has-text-centered">
        <a href="https://game.fanfare-cuc.fr">
          <img class="logo-hero" src="{% static 'images/cucgame.png' %}">
        </a>
      </div>
    </div>
  </div>
</section>
<div id="scratch">
  <div id="demo1" class="scratchpad"></div>
</div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-ui-1.11.0/jquery-ui.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/wScratchPad.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/konami.min.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('#demo1').wScratchPad({
      bg: "{% static 'images/transparent.png' %}",
      fg: "{% static 'images/caca.png' %}",
      cursor: 'url("{% static 'images/coin.png' %}") 20 20, default',
      size: 50,
      scratchMove: function (e, percent) {
        if (percent > 20){
          $('.scratchpad').wScratchPad('reset');
          $('#scratch').hide();
        }
      }
    });

    $('#scratch').hide();
    $( window ).konami({
      cheat: function () {
        $('#scratch').show();
        $('.scratchpad').wScratchPad('reset');
      }
    });
  </script>
  <script type="text/javascript">
    setTimeout(function () {
      $('#logo_img').addClass('animated tada');
    }, 3500);
  </script>
  <script type="text/javascript" src="{% static 'js/typed.min.js' %}"></script>
  <script>
    $(function(){
      $(".intro").typed({
        strings: ["LA fanfare de Paris. ", "Le CUC ! &#x2665;&#x2665;"],
        typeSpeed: 0
      });
    });
  </script>
{% endblock extra_js %}