<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fanfare CUC - La Fanfare de Paris</title>
    <meta name="author" content="Adrien Brunet">
    <meta name="Revisit-After" content="1 days">
    <meta name="keywords" content="fanfare, Paris, festival, cuc, chaos, uppercuite, farigoule, brass, parisienne, cherche fanfare" lang="fr">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <div id="icones"> 
      <a href="mailto:fanfare.cuc@gmail.com" title="Contact"> <img src="/static/images/mail.png" alt="Contact gmail"></a> 
      <a href="https://fr-fr.facebook.com/fanfare.CUC" title="Facebook"> <img src="/static/images/fb.png" alt="Notre facebook"></a>
      <a href="https://twitter.com/fanfarecuc" title="Twitter"> <img src="/static/images/twitter.png" alt="twitter"></a>
      <a href="https://www.youtube.com/channel/UCAs--7zpoqXc0XdNKISU82g" title="Youtube"> <img src="/static/images/yt.png" alt="youtube"></a>
      <a href="https://plus.google.com/115854707373485316599" title="Google+"> <img src="/static/images/gg.png" alt="google"></a>
    </div>

    <a href="https://fr-fr.facebook.com/fanfare.CUC" title="Facebook" id="cuc-button"><img id="logo" src="/static/images/logo.png"></div></a>

    <div style="display: none;" id="scratch">
      <div style="cursor: url(&quot;/static/images/coin.png&quot;) 20 20, default;" id="demo1" class="scratchpad"><img style="position: absolute; width: 100%; height: 100%; display: block;" crossorigin="" src="Fanfare%20CUC%20-%20La%20Fanfare%20de%20Paris_fichiers/transparent.png"><canvas height="1508" width="2560" style="position: absolute; width: 100%; height: 100%;"></canvas></div>
    </div>
	
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/wScratchPad.min.js"></script>
    <script type="text/javascript" src="/static/js/konami.min.js"></script>
    <script type="text/javascript">
      $('#demo1').wScratchPad({
        bg: "/static/images/transparent.png",
        fg: "/static/images/caca.png",
        cursor: 'url("/static/images/coin.png") 20 20, default',
        size: 50,
        scratchMove: function (e, percent) {
          if (percent > 20){
            $('.scratchpad').wScratchPad('reset');
            $('#scratch').hide();
          }
        }
      });
      $('#scratch').hide();
      $( window ).konami({
        cheat: function() {
          $('#scratch').show();
          $('.scratchpad').wScratchPad('reset');
        }
      });
    </script>
</body></html>
