{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="hero is-small is-danger is-bold">
    <div class="container hero-body">
      <h1 class="title">Présentation du <span class="fas fa-heart"></span> CUC <span class="fas fa-heart"></span></h1>
    </div>
  </section>
  <section class="hero is-bold">
    <div class="container hero-body">
      <div class="img-container">
        {% for people in object_list %}
          <div class="figure-container">
            <figure>
              <img class="img-circle" src="{{ people.photo.url }}" alt="{{ people.name }}">
              <figcaption class="has-text-white has-text-centered">
                <p>{{ people.name }}</p>
                <p>{{ people.get_instrument_display }}</p>
              </figcaption>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="hero is-bold">
    <div class="container hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_bavette.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_medor.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_phiniwn.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_chapon.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_couscous.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_prairy.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_pituite.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_maitresse.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_chawee.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_boliane.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_gsm.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_ielo.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_antigel.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_brazik.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_koudboul.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_rufa.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_K.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_neutron.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_kapok.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_tg.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_frotie.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_zlip.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
          <img src="{% static 'images/prez/pres_thobbite.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_menon.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_merci.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{% static 'images/prez/pres_kiche.png' %}" style="width: 100%; height:100%">
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
